!!! 5
%html(ng-app='plan-b' mount-path='#{plan_b.root_path[0..-2]}')
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    %title Plan B
    = csrf_meta_tag
    = stylesheet_link_tag 'plan_b/application', :media => :all
    = javascript_include_tag 'vendor/custom.modernizr'

  %body
    .alert-box(ng-class="alertType" ng-show="alertShow")
      {{ alertMessage }}

    .row
      .large-2.columns
        %h1
          = image_tag 'plan_b/plan_b.png'
    .row
      .large-9.push-3.columns
        %div(ng-view)
      .large-3.pull-9.columns
        = PlanB::Itinerary.model_name.human.pluralize
        = link_to t('plan_b.common.create_new'), '#', class: 'button tiny secondary'
        %ul.side-nav(ng-controller="ItinerariesCtrl")
          %li(ng-hide="itineraries.length")
            = t('plan_b.itineraries.none_created')
          %li(ng-repeat="itinerary in itineraries")
            %a(href='/plan_b/itineraries/{{itinerary.id}}/edit') {{itinerary.title}}

        %span(ng-controller="LocationCategoriesCtrl")
          = PlanB::LocationCategory.model_name.human.pluralize
          %a.button.tiny.secondary(href='#' ng-click="add()")
            = t('plan_b.common.create_new')
          %ul.side-nav
            %li(ng-hide="locationCategories.length")
              = t('plan_b.location_categories.none_created')
            %li(ng-repeat="category in locationCategories")
              %a(href='/plan_b/location_categories/{{category.id}}/edit') {{category.name}}

    %footer.row
      .large-12.columns
        %hr
        .row
          .large-6.columns
            %p Plan B

    = javascript_include_tag 'plan_b/application'
